---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import CredibilityBar from '../components/CredibilityBar.astro';
import VerticalGarden from '../components/VerticalGarden.astro';
import Services from '../components/Services.astro';
import Portfolio from '../components/Portfolio.astro';
import HowItWorks from '../components/HowItWorks.astro';
import About from '../components/About.astro';
import Testimonials from '../components/Testimonials.astro';
import FinalCTA from '../components/FinalCTA.astro';
import Footer from '../components/Footer.astro';
import FloatingCTA from '../components/FloatingCTA.astro';
---

<Layout>
  <Header />
  
  <main>
    <Hero />
    <CredibilityBar />
    <VerticalGarden />
    <Services />
    <Portfolio />
    <HowItWorks />
    <About />
    <Testimonials />
    <FinalCTA />
  </main>

  <Footer />
  <FloatingCTA />
</Layout>
